.form1
  = form_with model: @affiliate, local: true do |form|
    .field
      = form.label :name
      = form.text_field :name
    .field
      = form.label :category
      = form.text_field :category
    .field
      = form.label :url
      = form.text_field :url
    .field
      = form.submit
