// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form1{
      margin: 0 auto;
      align-content: center;
      border-radius: 10px;
      border: 1px solid #666666;
      width: 500px; 
    

        .field {

              margin: 0 auto;
              align-content: center;
              text-align: center;
              border-radius: 10px;
              width: 500px; 
      
         }
    }
