%h1 Product List

%table{:border => 3}
  %tbody
    %tr
      %th Store
      %th Name
      %th Description
      %th Price
      %th Quantity
      %th Category
    - @product.each do |object|
      %tr
        %td= object.store
        %td= object.name
        %td= object.description
        %td= object.price
        %td= object.quantity
        %td= object.category
        %td= link_to 'Show', object
        %td= link_to 'Edit', edit_product_path(object)
        %td= link_to 'Destroy', object, method: :delete, data: { confirm: 'Are you sure?' }


%br/

= link_to('New Product', new_product_path) 


